*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
node_modules/

# Xcode/swift/ios
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata


# eclipse/buildship files
.project
.settings/
.classpath
